In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib 
matplotlib.rcParams["figure.figsize"] = (20,10)

In [2]:
import os

In [3]:
os.getcwd()

'C:\\Users\\hp'

In [4]:
df1 = pd.read_csv("donneesconsomationa.csv")
df1.head()

,Mois,Moyenne_saisonniere,Puissance_electrique_maximale_appelee_en KVA,Heures_de_pointe,Heures_pleines,Heures_creuses
0,Janvier,183,127,127,67,99
1,Fevrier,183,189,172,189,86
2,Mars,183,189,172,189,86
3,Avril,183,206,149,206,106
4,Mai,183,283,256,283,241

In [5]:
df1.head(10)

,Mois,Moyenne_saisonniere,Puissance_electrique_maximale_appelee_en KVA,Heures_de_pointe,Heures_pleines,Heures_creuses
0,Janvier,183,127,127,67,99
1,Fevrier,183,189,172,189,86
2,Mars,183,189,172,189,86
3,Avril,183,206,149,206,106
4,Mai,183,283,256,283,241
5,Juin,323,296,296,287,284
6,Juillet,323,366,314,366,315
7,Aout,323,332,325,332,322
8,Septembre,323,299,298,285,299
9,Octobre,183,167,167,137,166

In [6]:
df1.shape

(12, 6)

In [7]:
df1.columns

Index(['Mois', 'Moyenne_saisonniere',
       'Puissance_electrique_maximale_appelee_en KVA', 'Heures_de_pointe ',
       'Heures_pleines', 'Heures_creuses '],
      dtype='object')

In [8]:
df1['Mois'].unique()

array(['Janvier', 'Fevrier', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet',
       'Aout', 'Septembre', 'Octobre', 'Novembre', 'Decembre'],
      dtype=object)

In [9]:
df1_stats = df1['Puissance_electrique_maximale_appelee_en KVA'].describe()
df1_stats

count     12.000000
mean     230.250000
std       81.310991
min      123.000000
25%      181.250000
50%      197.500000
75%      296.750000
max      366.000000
Name: Puissance_electrique_maximale_appelee_en KVA, dtype: float64

In [10]:
dummies = pd.get_dummies(df1.Mois)
dummies.head()

,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0

In [11]:
dummies = pd.get_dummies(df1.Mois)
dummies.head()

,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,0,0,0,0,1,0,0,0,0,0,0,0
1,0,0,0,1,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,0,0,0
3,0,1,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,1,0,0,0,0

In [12]:
X = df12.drop(['Puissance_electrique_maximale_appelee_en KVA'],axis='columns')
X.head()

NameError: name 'df12' is not defined

In [13]:
df12 = df11.drop('Mois',axis='columns')
df12.head()

NameError: name 'df11' is not defined

In [14]:
df11 = pd.concat([df1,dummies],axis='columns')
df11.head()

,Mois,Moyenne_saisonniere,Puissance_electrique_maximale_appelee_en KVA,Heures_de_pointe,Heures_pleines,Heures_creuses,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,Janvier,183,127,127,67,99,0,0,0,0,1,0,0,0,0,0,0,0
1,Fevrier,183,189,172,189,86,0,0,0,1,0,0,0,0,0,0,0,0
2,Mars,183,189,172,189,86,0,0,0,0,0,0,0,0,1,0,0,0
3,Avril,183,206,149,206,106,0,1,0,0,0,0,0,0,0,0,0,0
4,Mai,183,283,256,283,241,0,0,0,0,0,0,0,1,0,0,0,0

In [15]:
df12 = df11.drop('Mois',axis='columns')
df12.head()

,Moyenne_saisonniere,Puissance_electrique_maximale_appelee_en KVA,Heures_de_pointe,Heures_pleines,Heures_creuses,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,183,127,127,67,99,0,0,0,0,1,0,0,0,0,0,0,0
1,183,189,172,189,86,0,0,0,1,0,0,0,0,0,0,0,0
2,183,189,172,189,86,0,0,0,0,0,0,0,0,1,0,0,0
3,183,206,149,206,106,0,1,0,0,0,0,0,0,0,0,0,0
4,183,283,256,283,241,0,0,0,0,0,0,0,1,0,0,0,0

In [16]:
X = df12.drop(['Puissance_electrique_maximale_appelee_en KVA'],axis='columns')
X.head()

,Moyenne_saisonniere,Heures_de_pointe,Heures_pleines,Heures_creuses,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,183,127,67,99,0,0,0,0,1,0,0,0,0,0,0,0
1,183,172,189,86,0,0,0,1,0,0,0,0,0,0,0,0
2,183,172,189,86,0,0,0,0,0,0,0,0,1,0,0,0
3,183,149,206,106,0,1,0,0,0,0,0,0,0,0,0,0
4,183,256,283,241,0,0,0,0,0,0,0,1,0,0,0,0

In [17]:
df12.rename(columns = {'Puissance_electrique_maximale_appelee_en KVA':'Puissance_electrique_maximale_appelee_en_KVA'}, inplace = True)

In [18]:
df12.head()

,Moyenne_saisonniere,Puissance_electrique_maximale_appelee_en_KVA,Heures_de_pointe,Heures_pleines,Heures_creuses,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,183,127,127,67,99,0,0,0,0,1,0,0,0,0,0,0,0
1,183,189,172,189,86,0,0,0,1,0,0,0,0,0,0,0,0
2,183,189,172,189,86,0,0,0,0,0,0,0,0,1,0,0,0
3,183,206,149,206,106,0,1,0,0,0,0,0,0,0,0,0,0
4,183,283,256,283,241,0,0,0,0,0,0,0,1,0,0,0,0

In [19]:
y = df12.Puissance_electrique_maximale_appelee_en_KVA

In [20]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [21]:
from sklearn.linear_model import LinearRegression
lr_clf = LinearRegression()
lr_clf.fit(X_train,y_train)
lr_clf.score(X_test,y_test)

0.9475701816913239

In [22]:
// Use K Fold cross validation to measure accuracy of our LinearRegression model

SyntaxError: invalid syntax (<ipython-input-22-fd0794ccc7c1>, line 1)

In [23]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score

cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)

cross_val_score(LinearRegression(), X, y, cv=cv)

array([0.96789509, 0.90930058, 0.92106854, 0.95106699, 0.86496714])

In [24]:
from sklearn.model_selection import GridSearchCV

from sklearn.linear_model import Lasso
from sklearn.tree import DecisionTreeRegressor

def find_best_model_using_gridsearchcv(X,y):
    algos = {
        'linear_regression' : {
            'model': LinearRegression(),
            'params': {
                'normalize': [True, False]
            }
        },
        'lasso': {
            'model': Lasso(),
            'params': {
                'alpha': [1,2],
                'selection': ['random', 'cyclic']
            }
        },
        'decision_tree': {
            'model': DecisionTreeRegressor(),
            'params': {
                'criterion' : ['mse','friedman_mse'],
                'splitter': ['best','random']
            }
        }
    }
    scores = []
    cv = ShuffleSplit(n_splits=5, test_size=0.2, random_state=0)
    for algo_name, config in algos.items():
        gs =  GridSearchCV(config['model'], config['params'], cv=cv, return_train_score=False)
        gs.fit(X,y)
        scores.append({
            'model': algo_name,
            'best_score': gs.best_score_,
            'best_params': gs.best_params_
        })

    return pd.DataFrame(scores,columns=['model','best_score','best_params'])

find_best_model_using_gridsearchcv(X,y)

C:\Users\hp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 165.89877374591083, tolerance: 6.28
  model = cd_fast.enet_coordinate_descent(

,model,best_score,best_params
0,linear_regression,0.922860,{'normalize': False}
1,lasso,0.925306,"{'alpha': 1, 'selection': 'random'}"
2,decision_tree,0.886566,"{'criterion': 'friedman_mse', 'splitter': 'best'}"

In [25]:
X.head()

,Moyenne_saisonniere,Heures_de_pointe,Heures_pleines,Heures_creuses,Aout,Avril,Decembre,Fevrier,Janvier,Juillet,Juin,Mai,Mars,Novembre,Octobre,Septembre
0,183,127,67,99,0,0,0,0,1,0,0,0,0,0,0,0
1,183,172,189,86,0,0,0,1,0,0,0,0,0,0,0,0
2,183,172,189,86,0,0,0,0,0,0,0,0,1,0,0,0
3,183,149,206,106,0,1,0,0,0,0,0,0,0,0,0,0
4,183,256,283,241,0,0,0,0,0,0,0,1,0,0,0,0

In [26]:
def predict_price6(Mois,Moyenne_saisonniere,Heures_de_pointe,Heures_pleines,Heures_creuses):    
    loc_index = np.where(X.columns==Mois)[0][0]

    x = np.zeros(len(X.columns))
    x[0] = Moyenne_saisonniere
    x[1] = Heures_de_pointe
    x[2] = Heures_pleines
    x[3] = Heures_creuses
    if loc_index >= 0:
        x[loc_index] = 1

    return lr_clf.predict([x])[0]

In [27]:
predict_price6('Avril',40,30,33,88)

74.2651294238086

In [28]:
import pickle
with open('prediction.pickle','wb') as f:
    pickle.dump(lr_clf,f)

In [29]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))